# Car Prices - Solution

In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

import os.path

In [2]:
file_path = "data"
file_name = "automobile.csv"

## Exploratory Data Analysis

In [3]:
column_names = ["symboling", "normalized_losses", "make", "fuel_type", "aspiration", "num_of_doors", "body_style",
                "drive_wheels", "engine_location", "wheel_base", "length", "width", "height", "curb_weight",
                "engine_type", "num_of_cylinders", "engine_size", "fuel_system", "bore", "stroke", 
                "compression_ratio", "horsepower", "peak_rpm", "city_mpg", "highway_mpg", "price"]

df = pd.read_csv(os.path.join(file_path, file_name), header=-1, names=column_names, na_values='?')
df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [4]:
df.isnull().any()

symboling            False
normalized_losses     True
make                 False
fuel_type            False
aspiration           False
num_of_doors          True
body_style           False
drive_wheels         False
engine_location      False
wheel_base           False
length               False
width                False
height               False
curb_weight          False
engine_type          False
num_of_cylinders     False
engine_size          False
fuel_system          False
bore                  True
stroke                True
compression_ratio    False
horsepower            True
peak_rpm              True
city_mpg             False
highway_mpg          False
price                 True
dtype: bool

In [5]:
df[df.columns[df.isnull().any()].tolist()].isnull().sum()

normalized_losses    41
num_of_doors          2
bore                  4
stroke                4
horsepower            2
peak_rpm              2
price                 4
dtype: int64

In [6]:
df.dtypes

symboling              int64
normalized_losses    float64
make                  object
fuel_type             object
aspiration            object
num_of_doors          object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_of_cylinders      object
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [7]:
df.describe()

,symboling,normalized_losses,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
count,205.000000,164.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,201.000000,201.000000,205.000000,203.000000,203.000000,205.000000,205.000000,201.000000
mean,0.834146,122.000000,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329751,3.255423,10.142537,104.256158,5125.369458,25.219512,30.751220,13207.129353
std,1.245307,35.442168,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.273539,0.316717,3.972040,39.714369,479.334560,6.542142,6.886443,7947.066342
min,-2.000000,65.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,0.000000,94.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7775.000000
50%,1.000000,115.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,2.000000,150.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.590000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.000000
max,3.000000,256.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [8]:
df.make.unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [9]:
df.fuel_type.unique()

array(['gas', 'diesel'], dtype=object)

## Removing unnecesary columns

In [10]:
df.drop(["make", "symboling", "normalized_losses"], axis=1, inplace=True)
df.head()

,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

## Dealing with missing data

In [11]:
df[df.num_of_doors.isnull()]

,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
27,gas,turbo,NaN,sedan,fwd,front,93.7,157.3,63.8,50.6,...,98,mpfi,3.03,3.39,7.6,102.0,5500.0,24,30,8558.0
63,diesel,std,NaN,sedan,fwd,front,98.8,177.8,66.5,55.5,...,122,idi,3.39,3.39,22.7,64.0,4650.0,36,42,10795.0

In [12]:
df.num_of_doors[df.body_style=="sedan"].value_counts()

four    79
two     15
Name: num_of_doors, dtype: int64

In [13]:
df.loc[27, "num_of_doors"] = "four"
df.loc[63, "num_of_doors"] = "four"

In [14]:
df[df.bore.isnull()]

,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
55,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,...,70,4bbl,NaN,NaN,9.4,101.0,6000.0,17,23,10945.0
56,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,...,70,4bbl,NaN,NaN,9.4,101.0,6000.0,17,23,11845.0
57,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,...,70,4bbl,NaN,NaN,9.4,101.0,6000.0,17,23,13645.0
58,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,...,80,mpfi,NaN,NaN,9.4,135.0,6000.0,16,23,15645.0

In [15]:
df.bore.fillna(df.bore.mean(), inplace=True)

In [16]:
df[df.stroke.isnull()]

,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
55,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,...,70,4bbl,3.329751,NaN,9.4,101.0,6000.0,17,23,10945.0
56,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,...,70,4bbl,3.329751,NaN,9.4,101.0,6000.0,17,23,11845.0
57,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,...,70,4bbl,3.329751,NaN,9.4,101.0,6000.0,17,23,13645.0
58,gas,std,two,hatchback,rwd,front,95.3,169.0,65.7,49.6,...,80,mpfi,3.329751,NaN,9.4,135.0,6000.0,16,23,15645.0

In [17]:
df.stroke.fillna(df.stroke.mean(), inplace=True)

In [18]:
df[df.horsepower.isnull()]

,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
130,gas,std,four,wagon,fwd,front,96.1,181.5,66.5,55.2,...,132,mpfi,3.46,3.9,8.7,NaN,NaN,23,31,9295.0
131,gas,std,two,hatchback,fwd,front,96.1,176.8,66.6,50.5,...,132,mpfi,3.46,3.9,8.7,NaN,NaN,23,31,9895.0

In [19]:
df.horsepower.fillna(df.horsepower.mean(), inplace=True)

In [20]:
df[df.peak_rpm.isnull()]

,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
130,gas,std,four,wagon,fwd,front,96.1,181.5,66.5,55.2,...,132,mpfi,3.46,3.9,8.7,104.256158,NaN,23,31,9295.0
131,gas,std,two,hatchback,fwd,front,96.1,176.8,66.6,50.5,...,132,mpfi,3.46,3.9,8.7,104.256158,NaN,23,31,9895.0

In [21]:
df.peak_rpm.fillna(df.peak_rpm.mean(), inplace=True)

In [22]:
df.drop(df[df.price.isnull()].index, axis=0, inplace=True)

In [23]:
df.head()

,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,width,height,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

## Dealing with categorical columns

In [24]:
df.num_of_cylinders.value_counts()

four      157
six        24
five       10
two         4
eight       4
three       1
twelve      1
Name: num_of_cylinders, dtype: int64

In [25]:
df.loc[df.index[df.num_of_cylinders == "four"], "num_of_cylinders"] = 4
df.loc[df.index[df.num_of_cylinders == "five"], "num_of_cylinders"] = 5
df.loc[df.index[df.num_of_cylinders == "six"], "num_of_cylinders"] = 6
df.loc[df.index[df.num_of_cylinders == "eight"], "num_of_cylinders"] = 8
df.loc[df.index[df.num_of_cylinders == "two"], "num_of_cylinders"] = 2
df.loc[df.index[df.num_of_cylinders == "three"], "num_of_cylinders"] = 3
df.loc[df.index[df.num_of_cylinders == "twelve"], "num_of_cylinders"] = 12

In [26]:
df.dtypes

fuel_type             object
aspiration            object
num_of_doors          object
body_style            object
drive_wheels          object
engine_location       object
wheel_base           float64
length               float64
width                float64
height               float64
curb_weight            int64
engine_type           object
num_of_cylinders       int64
engine_size            int64
fuel_system           object
bore                 float64
stroke               float64
compression_ratio    float64
horsepower           float64
peak_rpm             float64
city_mpg               int64
highway_mpg            int64
price                float64
dtype: object

In [27]:
cat_columns = ["fuel_type", "fuel_system", "aspiration", "num_of_doors",
               "body_style", "drive_wheels", "engine_location", "engine_type"]

df = pd.get_dummies(df, columns=cat_columns, drop_first=True)

In [28]:
df.head()

,wheel_base,length,width,height,curb_weight,num_of_cylinders,engine_size,bore,stroke,compression_ratio,...,body_style_sedan,body_style_wagon,drive_wheels_fwd,drive_wheels_rwd,engine_location_rear,engine_type_l,engine_type_ohc,engine_type_ohcf,engine_type_ohcv,engine_type_rotor
0,88.6,168.8,64.1,48.8,2548,4,130,3.47,2.68,9.0,...,0,0,0,1,0,0,0,0,0,0
1,88.6,168.8,64.1,48.8,2548,4,130,3.47,2.68,9.0,...,0,0,0,1,0,0,0,0,0,0
2,94.5,171.2,65.5,52.4,2823,6,152,2.68,3.47,9.0,...,0,0,0,1,0,0,0,0,1,0
3,99.8,176.6,66.2,54.3,2337,4,109,3.19,3.40,10.0,...,1,0,1,0,0,0,1,0,0,0
4,99.4,176.6,66.4,54.3,2824,5,136,3.19,3.40,8.0,...,1,0,0,0,0,0,1,0,0,0

## Train and Test Split

In [29]:
train, test = train_test_split(df, test_size=0.2)

In [30]:
train

,wheel_base,length,width,height,curb_weight,num_of_cylinders,engine_size,bore,stroke,compression_ratio,...,body_style_sedan,body_style_wagon,drive_wheels_fwd,drive_wheels_rwd,engine_location_rear,engine_type_l,engine_type_ohc,engine_type_ohcf,engine_type_ohcv,engine_type_rotor
64,98.8,177.8,66.5,55.5,2425,4,122,3.390000,3.390000,8.60,...,0,0,1,0,0,0,1,0,0,0
195,104.3,188.8,67.2,57.5,3034,4,141,3.780000,3.150000,9.50,...,0,1,0,1,0,0,1,0,0,0
58,95.3,169.0,65.7,49.6,2500,2,80,3.329751,3.255423,9.40,...,0,0,0,1,0,0,0,0,0,1
75,102.7,178.4,68.0,54.8,2910,4,140,3.780000,3.120000,8.00,...,0,0,0,1,0,0,1,0,0,0
87,96.3,172.4,65.4,51.6,2403,4,110,3.170000,3.460000,7.50,...,1,0,1,0,0,0,1,0,0,0
169,98.4,176.2,65.6,52.0,2551,4,146,3.620000,3.500000,9.30,...,0,0,0,1,0,0,1,0,0,0
180,104.5,187.8,66.5,54.1,3131,6,171,3.270000,3.350000,9.20,...,1,0,0,1,0,0,0,0,0,0
8,105.8,192.7,71.4,55.9,3086,5,131,3.130000,3.400000,8.30,...,1,0,1,0,0,0,1,0,0,0
174,102.4,175.6,66.5,54.9,2480,4,110,3.270000,3.350000,22.50,...,1,0,1,0,0,0,1,0,0,0
71,115.6,202.6,71.7,56.5,3740,8,234,3.460000,3.100000,8.30,...,1,0,0,1,0,0,0,0,1,0
163,94.5,168.7,64.0,52.6,2169,4,98,3.190000,3.030000,9.00,...,1,0,0,1,0,0,1,0,0,0
83,95.9,173.2,66.3,50.2,2921,4,156,3.590000,3.860000,7.00,...,0,0,1,0,0,0,1,0,0,0
65,104.9,175.0,66.1,54.4,2670,4,140,3.760000,3.160000,8.00,...,1,0,0,1,0,0,1,0,0,0
124,95.9,173.2,66.3,50.2,2818,4,156,3.590000,3.860000,7.00,...,0,0,0,1,0,0,1,0,0,0
186,97.3,171.7,65.5,55.7,2275,4,109,3.190000,3.400000,9.00,...,1,0,1,0,0,0,1,0,0,0
107,107.9,186.7,68.4,56.7,3020,4,120,3.460000,3.190000,8.40,...,1,0,0,1,0,1,0,0,0,0
25,93.7,157.3,63.8,50.6,1989,4,90,2.970000,3.230000,9.40,...,1,0,1,0,0,0,1,0,0,0
114,114.2,198.9,68.4,58.7,3485,4,152,3.700000,3.520000,21.00,...,0,1,0,1,0,1,0,0,0,0
110,114.2,198.9,68.4,58.7,3430,4,152,3.700000,3.520000,21.00,...,0,1,0,1,0,1,0,0,0,0
116,107.9,186.7,68.4,56.7,3252,4,152,3.700000,3.520000,21.00,...,1,0,0,1,0,1,0,0,0,0
167,98.4,176.2,65.6,52.0,2540,4,146,3.620000,3.500000,9.30,...,0,0,0,1,0,0,1,0,0,0
52,93.1,159.1,64.2,54.1,1905,4,91,3.030000,3.150000,9.00,...,0,0,1,0,0,0,1,0,0,0
136,99.1,186.6,66.5,56.1,2808,4,121,3.540000,3.070000,9.00,...,0,0,1,0,0,0,0,0,0,0
137,99.1,186.6,66.5,56.1,2847,4,121,3.540000,3.070000,9.00,...,1,0,1,0,0,0,0,0,0,0
80,96.3,173.0,65.4,49.4,2370,4,110,3.170000,3.460000,7.50,...,0,0,1,0,0,0,1,0,0,0
150,95.7,158.7,63.6,54.5,1985,4,92,3.050000,3.030000,9.00,...,0,0,1,0,0,0,1,0,0,0
73,120.9,208.1,71.7,56.7,3900,8,308,3.800000,3.350000,8.00,...,1,0,0,1,0,0,0,0,1,0
148,96.9,173.6,65.4,54.9,2420,4,108,3.620000,2.640000,9.00,...,0,1,0,0,0,0,0,1,0,0
200,109.1,188.8,68.9,55.5,2952,4,141,3.780000,3.150000,9.50,...,1,0,0,1,0,0,1,0,0,0
192,100.4,180.2,66.9,55.1,2579,4,97,3.010000,3.400000,23.00,...,1,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,95.7,158.7,63.6,54.5,2015,4,92,3.050000,3.030000,9.00,...,0,0,1,0,0,0,1,0,0,0
49,102.0,191.7,70.6,47.8,3950,12,326,3.540000,2.760000,11.50,...,1,0,0,1,0,0,0,0,1,0
32,93.7,150.0,64.0,52.6,1837,4,79,2.910000,3.070000,10.10,...,0,0,1,0,0,0,1,0,0,0
36,96.5,157.1,63.9,58.3,2024,4,92,2.920000,3.410000,9.20,...,0,1,1,0,0,0,1,0,0,0
130,96.1,181.5,66.5,55.2,2579,4,132,3.460000,3.900000,8.70,...,0,1,1,0,0,0,1,0,0,0
98,95.1,162.4,63.8,53.3,2008,4,97,3.150000,3.290000,9.40,...,0,0,1,0,0,0,1,0,0,0
21,93.7,157.3,63.8,50.8,1876,4,90,2.970000,3.230000,9.41,...,0,0,1,0,0,0,1,0,0,0
149,96.9,173.6,65.4,54.9,2650,4,108,3.620000,2.640000,7.70,...,0,1,0,0,0,0,0,1,0,0
157,95.7,166.3,64.4,52.8,2109,4,98,3.190000,3.030000,9.00,...,0,0,1,0,0,0,1,0,0,0
93,94.5,170.2,63.8,53.5,2024,4,97,3.150000,3.290000,9.40,...,0,1,1,0,0,0,1,0,0,0
121,93.7,167.3,63.8,50.8,1989,4,90,2.970000,3.230000,9.40,...,1,0,1,0,0,0,1,0,0,0
50,93.1,159.1,64.2,54.1,1890,4,91,3.030000,3.150000,9.00,...,0,0,1,0,0,0,1,0,0,0
197,104.3,188.8,67.2,57.5,3042,4,141,3.780000,3.150000,9.50,...,0,1,0,1,0,0,1,0,0,0
7,105.8,192.7,71.4,55.7,2954,5,136,3.190000,3.400000,8.50,...,0,1,1,0,0,0,1,0,0,0
170,98.4,176.2,65.6,52.0,2679,4,146,3.620000,3.500000,9.30,...,0,0,0,1,0,0,1,0,0,0
92,94.5,165.3,63.8,54.5,1938,4,97,3.150000,3.290000,9.40,...,1,0,1,0,0,0,1,0,0,0
30,86.6,144.6,63.9,50.8,1713,4,92,2.910000,3.410000,9.60,...,0,0,1,0,0,0,1,0,0,0
40,96.5,175.4,62.5,54.1,2372,4,110,3.150000,3.580000,9.00,...,1,0,1,0,0,0,1,0,0,0
141,97.2,172.0,65.4,52.5,2145,4,108,3.620000,2.640000,9.50,...,1,0,1,0,0,0,0,1,0,0
178,102.9,183.5,67.7,52.0,2976,6,171,3.270000,3.350000,9.30,...,0,0,0,1,0,0,0,0,0,0
122,93.7,167.3,63.8,50.8,2191,4,98,2.970000,3.230000,9.40,...,1,0,1,0,0,0,1,0,0,0
99,97.2,173.4,65.2,54.7,2324,4,120,3.330000,3.470000,8.50,...,0,0,1,0,0,0,1,0,0,0
55,95.3,169.0,65.7,49.6,2380,2,70,3.329751,3.255423,9.40,...,0,0,0,1,0,0,0,0,0,1
119,93.7,157.3,63.8,50.8,2128,4,98,3.030000,3.390000,7.60,...,0,0,1,0,0,0,1,0,0,0
112,107.9,186.7,68.4,56.7,3252,4,152,3.700000,3.520000,21.00,...,1,0,0,1,0,1,0,0,0,0
156,95.7,166.3,64.4,53.0,2081,4,98,3.190000,3.030000,9.00,...,1,0,1,0,0,0,1,0,0,0
67,110.0,190.9,70.3,56.5,3515,5,183,3.580000,3.640000,21.50,...,1,0,0,1,0,0,1,0,0,0
101,100.4,181.7,66.5,55.1,3095,6,181,3.430000,3.270000,9.00,...,1,0,1,0,0,0,0,0,1,0
103,100.4,184.6,66.5,55.1,3060,6,181,3.430000,3.270000,9.00,...,1,0,1,0,0,0,0,0,1,0
158,95.7,166.3,64.4,53.0,2275,4,110,3.270000,3.350000,22.50,...,1,0,1,0,0,0,1,0,0,0

In [31]:
test

,wheel_base,length,width,height,curb_weight,num_of_cylinders,engine_size,bore,stroke,compression_ratio,...,body_style_sedan,body_style_wagon,drive_wheels_fwd,drive_wheels_rwd,engine_location_rear,engine_type_l,engine_type_ohc,engine_type_ohcf,engine_type_ohcv,engine_type_rotor
95,94.5,165.6,63.8,53.3,2028,4,97,3.150000,3.290000,9.40,...,0,0,1,0,0,0,1,0,0,0
84,95.9,173.2,66.3,50.2,2926,4,156,3.590000,3.860000,7.00,...,0,0,1,0,0,0,1,0,0,0
56,95.3,169.0,65.7,49.6,2380,2,70,3.329751,3.255423,9.40,...,0,0,0,1,0,0,0,0,0,1
51,93.1,159.1,64.2,54.1,1900,4,91,3.030000,3.150000,9.00,...,0,0,1,0,0,0,1,0,0,0
135,99.1,186.6,66.5,56.1,2758,4,121,3.540000,3.070000,9.30,...,1,0,1,0,0,0,1,0,0,0
191,100.4,180.2,66.9,55.1,2661,5,136,3.190000,3.400000,8.50,...,1,0,1,0,0,0,1,0,0,0
183,97.3,171.7,65.5,55.7,2209,4,109,3.190000,3.400000,9.00,...,1,0,1,0,0,0,1,0,0,0
142,97.2,172.0,65.4,52.5,2190,4,108,3.620000,2.640000,9.50,...,1,0,1,0,0,0,0,1,0,0
37,96.5,167.5,65.2,53.3,2236,4,110,3.150000,3.580000,9.00,...,0,0,1,0,0,0,1,0,0,0
53,93.1,166.8,64.2,54.1,1945,4,91,3.030000,3.150000,9.00,...,1,0,1,0,0,0,1,0,0,0
31,86.6,144.6,63.9,50.8,1819,4,92,2.910000,3.410000,9.20,...,0,0,1,0,0,0,1,0,0,0
132,99.1,186.6,66.5,56.1,2658,4,121,3.540000,3.070000,9.31,...,0,0,1,0,0,0,1,0,0,0
127,89.5,168.9,65.0,51.6,2756,6,194,3.740000,2.900000,9.50,...,0,0,0,1,1,0,0,1,0,0
35,96.5,163.4,64.0,54.5,2010,4,92,2.910000,3.410000,9.20,...,1,0,1,0,0,0,1,0,0,0
88,96.3,172.4,65.4,51.6,2403,4,110,3.170000,3.460000,7.50,...,1,0,1,0,0,0,1,0,0,0
62,98.8,177.8,66.5,55.5,2410,4,122,3.390000,3.390000,8.60,...,1,0,1,0,0,0,1,0,0,0
164,94.5,168.7,64.0,52.6,2204,4,98,3.190000,3.030000,9.00,...,0,0,0,1,0,0,1,0,0,0
131,96.1,176.8,66.6,50.5,2460,4,132,3.460000,3.900000,8.70,...,0,0,1,0,0,0,1,0,0,0
196,104.3,188.8,67.2,56.2,2935,4,141,3.780000,3.150000,9.50,...,1,0,0,1,0,0,1,0,0,0
60,98.8,177.8,66.5,55.5,2410,4,122,3.390000,3.390000,8.60,...,1,0,1,0,0,0,1,0,0,0
154,95.7,169.7,63.6,59.1,2290,4,92,3.050000,3.030000,9.00,...,0,1,0,0,0,0,1,0,0,0
128,89.5,168.9,65.0,51.6,2800,6,194,3.740000,2.900000,9.50,...,0,0,0,1,1,0,0,1,0,0
19,94.5,155.9,63.6,52.0,1874,4,90,3.030000,3.110000,9.60,...,0,0,1,0,0,0,1,0,0,0
97,94.5,170.2,63.8,53.5,2037,4,97,3.150000,3.290000,9.40,...,0,1,1,0,0,0,1,0,0,0
155,95.7,169.7,63.6,59.1,3110,4,92,3.050000,3.030000,9.00,...,0,1,0,0,0,0,1,0,0,0
54,93.1,166.8,64.2,54.1,1950,4,91,3.080000,3.150000,9.00,...,1,0,1,0,0,0,1,0,0,0
204,109.1,188.8,68.9,55.5,3062,4,141,3.780000,3.150000,9.50,...,1,0,0,1,0,0,1,0,0,0
171,98.4,176.2,65.6,52.0,2714,4,146,3.620000,3.500000,9.30,...,0,0,0,1,0,0,1,0,0,0
115,107.9,186.7,68.4,56.7,3075,4,120,3.460000,3.190000,8.40,...,1,0,0,1,0,1,0,0,0,0
165,94.5,168.7,64.0,52.6,2265,4,98,3.240000,3.080000,9.40,...,1,0,0,1,0,0,0,0,0,0
28,103.3,174.6,64.6,59.8,2535,4,122,3.340000,3.460000,8.50,...,0,1,1,0,0,0,1,0,0,0
201,109.1,188.8,68.8,55.5,3049,4,141,3.780000,3.150000,8.70,...,1,0,0,1,0,0,1,0,0,0
151,95.7,158.7,63.6,54.5,2040,4,92,3.050000,3.030000,9.00,...,0,0,1,0,0,0,1,0,0,0
89,94.5,165.3,63.8,54.5,1889,4,97,3.150000,3.290000,9.40,...,1,0,1,0,0,0,1,0,0,0
185,97.3,171.7,65.5,55.7,2212,4,109,3.190000,3.400000,9.00,...,1,0,1,0,0,0,1,0,0,0
161,95.7,166.3,64.4,52.8,2122,4,98,3.190000,3.030000,9.00,...,0,0,1,0,0,0,1,0,0,0
104,91.3,170.7,67.9,49.7,3071,6,181,3.430000,3.270000,9.00,...,0,0,0,1,0,0,0,0,1,0
16,103.5,193.8,67.9,53.7,3380,6,209,3.620000,3.390000,8.00,...,1,0,0,1,0,0,1,0,0,0
59,98.8,177.8,66.5,53.7,2385,4,122,3.390000,3.390000,8.60,...,0,0,1,0,0,0,1,0,0,0
46,96.0,172.6,65.2,51.4,2734,4,119,3.430000,3.230000,9.20,...,0,0,0,1,0,0,1,0,0,0
188,97.3,171.7,65.5,55.7,2300,4,109,3.190000,3.400000,10.00,...,1,0,1,0,0,0,1,0,0,0

In [32]:
Y_train = train.price
X_train = train.drop(["price"], axis=1)

In [33]:
Y_test = test.price
X_test = test.drop(["price"], axis=1)

## Train and execute the model

In [34]:
lrm = linear_model.LinearRegression()

In [35]:
lrm.fit(X_train, Y_train)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/scipy/linalg/basic.py:1226: RuntimeWarning: internal gelsd driver lwork query error, required iwork dimension not returned. This is likely the result of LAPACK bug 0038, fixed in LAPACK 3.2.2 (released July 21, 2010). Falling back to 'gelss' driver.
  warnings.warn(mesg, RuntimeWarning)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [36]:
predicted_price = lrm.predict(X_test)

## Assess the performance of the model

In [37]:
r_square = r2_score(Y_test, predicted_price)
print(r_square)

0.8959227919736307

In [38]:
actual_data = np.array(Y_test)

for i in range(len(predicted_price)):
    actual = actual_data[i]
    predicted = predicted_price[i]
    explained = ((actual_data[i] - predicted_price[i]) / actual_data[i]) * 100
    
    print('Actual value ${:,.2f}, Predicted value ${:,.2f} ({:,.2f}%)'.format(actual, predicted, explained))

Actual value $7,799.00, Predicted value $5,841.39 (25.10%)
Actual value $14,489.00, Predicted value $13,344.02 (7.90%)
Actual value $11,845.00, Predicted value $12,287.53 (-3.74%)
Actual value $6,095.00, Predicted value $6,872.74 (-12.76%)
Actual value $15,510.00, Predicted value $12,472.39 (19.58%)
Actual value $13,295.00, Predicted value $16,438.82 (-23.65%)
Actual value $7,975.00, Predicted value $10,888.27 (-36.53%)
Actual value $7,775.00, Predicted value $6,546.34 (15.80%)
Actual value $7,895.00, Predicted value $9,256.25 (-17.24%)
Actual value $6,695.00, Predicted value $6,996.70 (-4.51%)
Actual value $6,855.00, Predicted value $7,089.86 (-3.43%)
Actual value $11,850.00, Predicted value $11,540.65 (2.61%)
Actual value $34,028.00, Predicted value $32,528.00 (4.41%)
Actual value $7,295.00, Predicted value $8,094.08 (-10.95%)
Actual value $9,279.00, Predicted value $7,856.35 (15.33%)
Actual value $10,245.00, Predicted value $11,717.73 (-14.38%)
Actual value $8,238.00, Predicted value $7,920.05 (3.86%)
Actual value $9,895.00, Predicted value $9,584.86 (3.13%)
Actual value $15,985.00, Predicted value $17,158.90 (-7.34%)
Actual value $8,495.00, Predicted value $11,717.73 (-37.94%)
Actual value $7,898.00, Predicted value $7,069.31 (10.49%)
Actual value $37,028.00, Predicted value $36,150.31 (2.37%)
Actual value $6,295.00, Predicted value $6,384.40 (-1.42%)
Actual value $7,999.00, Predicted value $4,549.09 (43.13%)
Actual value $8,778.00, Predicted value $9,520.54 (-8.46%)
Actual value $7,395.00, Predicted value $6,825.86 (7.70%)
Actual value $22,625.00, Predicted value $21,408.70 (5.38%)
Actual value $11,549.00, Predicted value $12,929.60 (-11.95%)
Actual value $16,630.00, Predicted value $13,280.99 (20.14%)
Actual value $9,298.00, Predicted value $9,798.31 (-5.38%)
Actual value $8,921.00, Predicted value $11,143.45 (-24.91%)
Actual value $19,045.00, Predicted value $21,016.74 (-10.35%)
Actual value $6,338.00, Predicted value $7,350.79 (-15.98%)
Actual value $5,499.00, Predicted value $6,529.79 (-18.75%)
Actual value $8,195.00, Predicted value $10,864.32 (-32.57%)
Actual value $8,358.00, Predicted value $6,656.09 (20.36%)
Actual value $17,199.00, Predicted value $17,453.54 (-1.48%)
Actual value $41,315.00, Predicted value $28,340.31 (31.40%)
Actual value $8,845.00, Predicted value $10,383.15 (-17.39%)
Actual value $11,048.00, Predicted value $10,261.80 (7.12%)
Actual value $9,995.00, Predicted value $9,700.41 (2.95%)